{%- macro tail_banners(header) -%}
	{%- if invalid_postcode is defined and invalid_postcode -%}
		{%- set invalidPostcode = "I" -%}
	{%- else -%}
		{%- set invalidPostcode = "V" -%}
	{%- endif -%}
	<h2 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-0">{{ header }}</h2>
	<div class="card-container double-row">
		<div class="mini-card">
			<h3 class="govuk-heading-m govuk-!-margin-bottom-2">
				Search by postcode
				<small class="govuk-caption-m govuk-!-margin-top-1">View data for your local area.</small>
			</h3>
			<p class="govuk-body govuk-!-margin-top-2">Not all data are available for every area &ndash; we will show the most
				local information in each category for your selected area.
			</p>
			{%- include "components/postcode_search.html" -%}
		</div>
		{%- include "components/map_card.html" -%}
	</div>
{%- endmacro -%}