<div class="mini-card map-view" itemtype="https://schema.org/WebContent" itemprop="WebContent" itemscope>
	<div>
			<span itemprop="contentLocation" itemtype="http://schema.org/AdministrativeArea" itemscope>
				<meta itemprop="name" content="United Kingdom"/>
				<meta itemprop="sameAs" content="https://en.wikipedia.org/wiki/United Kingdom" />
			</span>
			<meta itemprop="datePosted" content="{{ despatch }}"/>
			<meta itemprop="expires" content="{{ despatch | add_days(1) }}"/>
			<meta itemprop="mainEntityOfPage" content="https://{{ base }}/details/interactive-map"/>
			<meta itemprop="thumbnailUrl" content="https://{{ base }}/public/assets/frontpage/images/map.png"/>
			<meta itemprop="description"
			      content="Interactive map of the UK showing latest rate of cases at local authority and small area levels."/>
		<h3 class="govuk-heading-m govuk-heading-m govuk-!-margin-bottom-3">
			UK interactive maps
		</h3>
		<div class="govuk-body govuk-body-l govuk-!-margin-top-1 govuk-!-margin-bottom-3">
			<p class="govuk-!-margin-bottom-1">
				Explore maps for
			</p>
			<ul class="govuk-list govuk-list--bullet govuk-!-margin-top-0">
				<li>cases</li>
				<li>vaccinations <span class="govuk-tag govuk-!-margin-left-1">NEW</span></li>
			</ul>
		</div>

		<a href="https://{{ base }}/details/interactive-map/cases" class="govuk-button" style="width: max-content">
				View maps
		</a>

	</div>
	<div style="text-align: center">
		<img src="https://{{ base }}/public/assets/frontpage/images/map.png"
		     class="map-img"
		     alt="Map of the UK showing latest rate of new cases by specimen date for Upper Tier Local Authorities">
	</div>
</div>