<div class="mini-card map-view">
	<div class="">
		<h3 class="govuk-heading-m govuk-heading-m govuk-!-margin-bottom-3">
			Explore the UK interactive map
			<small class="govuk-caption-m govuk-!-margin-top-1">View case rates across the UK</small>
		</h3>
{#		<p class="govuk-body-m">Browse cases by week.</p>#}
{#		<p class="govuk-body-m">See how the pandemic is changing across the UK.</p>#}
		<a href="/details/interactive-map" class="govuk-button" style="width: max-content">
				View map
		</a>

	</div>
	<div class="" style="text-align: center">
		<img src="https://coronavirus.data.gov.uk/public/assets/frontpage/images/map.png"
		     class="map-img"
		     alt="Map of the UK showing latest rate of new cases by specimen date for Upper Tier Local Authorities">
	</div>
</div>