{% from "components/rates.html" import details with context %}

{% macro create_card(card, is_postcode=False) %}

	<div class="mini-card">

		<div>
			<span class="govuk-caption-m govuk-!-font-weight-regular">{{ card.caption }}</span>
			{%- if is_postcode -%}
				<h4 class="govuk-heading-m title-mobile govuk-!-margin-bottom-0">
					{{ card.heading }} in {{ card.areaName }}
				</h4>
			{%- else -%}
				<h3 class="govuk-heading-m title-mobile govuk-!-margin-bottom-0">
					{{ card.heading }}
				</h3>
			{%- endif -%}
		</div>

		<p class="grey govuk-!-font-size-14 govuk-!-margin-bottom-0 govuk-!-margin-top-0">
			Latest data
			{% if is_postcode %}
				at <strong>{{ card.areaType.formatted | lower }}</strong> level
			{% endif %}
			provided on&nbsp;<span style="white-space: nowrap">{{ card.latest_date }}</span>
		</p>

		<div class="govuk-grid-row bottom-aligned">
			<div class="govuk-grid-column-full">
				<div class="data-metric2">
					<div class="govuk-body-s float govuk-!-margin-bottom-0" style="width:80%;">Daily</div>
					<div class="number-group">
						<div class="number-container">
							<div class="float tooltip">
								<div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
									<a href="#"
									   class="govuk-link--no-visited-state number-link number">
										{{ card.data[0].value | format_number }}
										<span class="tooltiptext govuk-!-font-size-16">
											Daily number of {{ card.heading | lower }} reported on {{ card.data[0].formatted }}
									</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="data-metric2">

					<div class="govuk-body-s float govuk-!-margin-top-2 govuk-!-margin-bottom-0" style="width:80%;">
						Last 7 days
					</div>

					<div class="number-group">
						<div class="number-container govuk-!-padding-right-4">
							<div class="float tooltip">
								<div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
									<a href="#" class="govuk-link--no-visited-state number-link"
									   onclick="showHelp()">{{ card.change.total | format_number }}
										<span class="tooltiptext govuk-!-font-size-16">
										Total number of {{ card.heading | lower }} reported in the
										last 7 days ({{ card.data[6].formatted }} &ndash; {{ card.data[0].formatted }})</span></a>
								</div>
							</div>
						</div>

					</div>
					<div class="number-container">
						<div class="float tooltip">
							<div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
								<a href="#"
								   class="govuk-link--no-visited-state number-link-red"
								   style="border: none">
									<strong class="govuk-tag govuk-tag--red number govuk-!-margin-top-1"
									        style="background: {{ card.colour.fill }}; color: {{ card.colour.line }}">
										{%- if card.change.value != 0 -%}
											<img src="{{ url_for("static", filename="images/arrow.svg") }}"
											     width="12px"
											     alt="arrow"
											     style="transform: rotate({{ card.change.trend }}deg)">
											{{ card.change.value | format_number }}
											<span class="govuk-!-font-weight-regular">({{ card.change.percentage }}%)</span>
										{%- else -%}
											<span>No change</span>
										{%- endif -%}
									</strong>
									<span class="tooltiptext govuk-!-font-size-16">
											Change from previous 7 days ({{ card.data[13].formatted }} &ndash; {{ card.data[7].formatted }})
									</span>
								</a>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>

		{%- if card.caption.lower() == "cases" -%}
			{{ details(cases_rate, "by date of specimen as of") }}
		{%- elif card.caption.lower() == "deaths" and not is_postcode -%}
			{{ details(deaths_rate, "by date of death as of") }}
		{%- elif card.caption.lower() == "healthcare" -%}
			{{ details(admissions_rate, "as of") }}
		{% else %}
			<hr class="govuk-section-break bottom-aligned"/>
		{%- endif -%}

		{%- if not is_postcode -%}
			<figure class="graph mini-card-figure bottom-aligned">
				<img src="{{ card.graph }}" alt="Graph">
			</figure>
		{% endif %}

		<hr class="govuk-section-break govuk-section-break--visible bottom-aligned" style="margin: 0 -20px;"/>
		<div class="additional-info bottom-aligned" style="margin-top: 5px">
				<p class="govuk-!-margin-bottom-0 govuk-!-margin-top-0 body-small">
				<a href="/details/{{ card.caption | lower }}{%- if is_postcode -%}?areaType={{ card.areaType.abbr | lower }}&areaName={{ card.areaName }}{% endif %}"
				   class="govuk-link govuk-link--no-visited-state"
				   style="text-decoration: none"
				   rel="next"><b>All {{ card.caption | lower }} data{%- if is_postcode %}&nbsp;in {{ card.areaName }}{% endif %}</b></a>
				</p>
				{% if is_postcode %}
					<p class="govuk-!-margin-bottom-0 govuk-!-margin-top-0 body-small govuk-!-margin-top-3">
						<a href="/downloads/easy_read/{{ card.areaType.abbr }}/{{ card.areaName }}.docx"
						   class="govuk-link govuk-link--no-visited-state"
						   lang="en-GB" style="text-decoration: none"
						   type="application/vnd.openxmlformats-officedocument.wordprocessingml.document"
						   download="{{ card.areaName }}-{{ card.areaType.short | lower }}_{{ timestamp | as_datestamp }}">Easy-read
							report for {{ card.areaName }}</a>
					</p>
				{% endif %}
		</div>

	</div>

{% endmacro %}
