<div class="mobile-nav" id="mobile-navigation" style="display: none;">
	<ul class="govuk-list moj-side-navigation__list ">
		<li class="moj-side-navigation__item moj-side-navigation__item--active">
			<a aria-current="location" href="/">Daily summary</a></li>
		<li class="moj-side-navigation__item "><a class="govuk-link govuk-link--no-visited-state" rel="next" href="/details/testing">Testing</a></li>
		<li class="moj-side-navigation__item "><a class="govuk-link govuk-link--no-visited-state" rel="next" href="/details/cases">Cases</a></li>
		<li class="moj-side-navigation__item "><a class="govuk-link govuk-link--no-visited-state" rel="next" href="/details/healthcare">Healthcare</a></li>
		<li class="moj-side-navigation__item "><a class="govuk-link govuk-link--no-visited-state" rel="next" href="/details/deaths">Deaths</a></li>
		<li class="moj-side-navigation__item "><hr class="govuk-section-break govuk-section-break--s govuk-!-margin-top-0 govuk-!-margin-bottom-0 govuk-section-break--visible "></li>
		<li class="moj-side-navigation__item "><a class="govuk-link govuk-link--no-visited-state" rel="next" href="/details/about-data">About the data</a></li>
		<li class="moj-side-navigation__item "><a class="govuk-link govuk-link--no-visited-state" rel="next" href="/details/download">Download data</a></li>
		<li class="moj-side-navigation__item "><a class="govuk-link govuk-link--no-visited-state" href="/details/developers-guide">Developer's guide</a></li>
	</ul>
	<hr class="govuk-section-break govuk-section-break--m govuk-!-margin-top-3 govuk-!-margin-bottom-3 govuk-section-break--visible ">
</div>