<aside class="dashboard-menu">
	<nav class="moj-side-navigation govuk-!-padding-right-4 govuk-!-padding-top-2" role="navigation"
	     aria-label="Side navigation">
		<ul class="moj-side-navigation__list">
			<li class="moj-side-navigation__item  moj-side-navigation__item--active ">
				<a class="govuk-link govuk-link--no-visited-state" aria-current="page" href="/">Daily update</a>
			</li>

			<li class="moj-side-navigation__item ">
				<a class="govuk-link govuk-link--no-visited-state" rel="next" href="/details/testing">Testing</a>
			</li>

			<li class="moj-side-navigation__item ">
				<a class="govuk-link govuk-link--no-visited-state" rel="next" href="/details/cases">Cases</a>
			</li>

			<li class="moj-side-navigation__item ">
				<a class="govuk-link govuk-link--no-visited-state" rel="next" href="/details/healthcare">Healthcare</a>
			</li>

			<li class="moj-side-navigation__item ">
				<a class="govuk-link govuk-link--no-visited-state" rel="next" href="/details/deaths">Deaths</a>
			</li>

			<hr class="govuk-section-break govuk-section-break--m govuk-!-margin-top-3 govuk-!-margin-bottom-3 govuk-section-break--visible">

		</ul>
	</nav>

	<div class="tertiary-menu govuk-!-margin-left-3">
		<ul class="govuk-list govuk-!-font-size-14">
			{#				<li class="govuk-!-padding-bottom-1">#}
			{#					<a class="govuk-link" href="data-menu">Data download</a>#}
			{#				</li>#}

			<!--
      <li class="govuk-!-padding-bottom-1">
        <a class="govuk-link" href="notifications-menu">Daily notifications</a>
      </li>
      -->
			<li class="govuk-!-padding-bottom-1">
				<a class="govuk-link govuk-link--no-visited-state" rel="next" href="/details/about-data">About the data</a>
			</li>
			<li class="govuk-!-padding-bottom-1">
				<a class="govuk-link govuk-link--no-visited-state" rel="next" href="/details/download">Download data</a>
			</li>
			<li>
				<a class="govuk-link govuk-link--no-visited-state" href="/details/developers-guide">Developer's guide</a>
			</li>
			{#				<li class="govuk-!-padding-bottom-1">#}
			{#					<a class="govuk-link" href="#">Change log</a>#}
			{#				</li>#}
		</ul>
	</div>

</aside>
{#</div>#}
