<nav class="dashboard-menu">
	<div class="moj-side-navigation govuk-!-padding-right-4 govuk-!-padding-top-2" role="navigation"
	     aria-label="Side navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<ul class="moj-side-navigation__list">
			<li class="moj-side-navigation__item  moj-side-navigation__item--active " itemprop="name">
				<a class="govuk-link govuk-link--no-visited-state" aria-current="page" href="/" itemprop="url">Daily update</a>
			</li>

			<li class="moj-side-navigation__item " itemprop="name">
				<a class="govuk-link govuk-link--no-visited-state" href="https://{{ base }}/details/testing" itemprop="url">Testing</a>
			</li>

			<li class="moj-side-navigation__item " itemprop="name">
				<a class="govuk-link govuk-link--no-visited-state" href="https://{{ base }}/details/cases" itemprop="name">Cases</a>
			</li>

			<li class="moj-side-navigation__item " itemprop="name">
				<a class="govuk-link govuk-link--no-visited-state" href="https://{{ base }}/details/healthcare" itemprop="name">Healthcare</a>
			</li>

			<li class="moj-side-navigation__item " itemprop="name">
				<a class="govuk-link govuk-link--no-visited-state" href="https://{{ base }}/details/vaccinations" itemprop="name">Vaccinations</a>
			</li>

			<li class="moj-side-navigation__item " itemprop="name">
				<a class="govuk-link govuk-link--no-visited-state" href="https://{{ base }}/details/deaths" itemprop="name">Deaths</a>
			</li>

			<hr class="govuk-section-break govuk-section-break--m govuk-!-margin-top-3 govuk-!-margin-bottom-3 govuk-section-break--visible">

		</ul>
	</div>

	<div class="tertiary-menu govuk-!-margin-left-3">
		<ul class="govuk-list govuk-!-font-size-14">
			<li class="govuk-!-padding-bottom-1">
				<a class="govuk-link govuk-link--no-visited-state" href="https://{{ base }}/details/interactive-map/cases">Interactive map</a>
			</li>
			<li class="govuk-!-padding-bottom-1">
				<a class="govuk-link govuk-link--no-visited-state" href="https://{{ base }}/details/about-data">About the data</a>
			</li>
			<li class="govuk-!-padding-bottom-1">
				<a class="govuk-link govuk-link--no-visited-state" href="https://{{ base }}/details/download">Download data</a>
			</li>
			<li class="govuk-!-padding-bottom-1">
				<a class="govuk-link govuk-link--no-visited-state" href="https://{{ base }}/details/whats-new">What's new</a>
			</li>
			<li>
				<a class="govuk-link govuk-link--no-visited-state" href="https://{{ base }}/details/developers-guide">Developer's guide</a>
			</li>
		</ul>
	</div>

</nav>
