<form action="/search" name="postcode-search" method="GET" id="regionform" rel="next" target="_self" enctype="application/x-www-form-urlencoded">
	<div class="govuk-form-group govuk-!-margin-bottom-0{% if invalid_postcode %} govuk-form-group--error{% endif %}">
	  <fieldset class="govuk-fieldset" role="group" aria-describedby="postcode-hint">
			<label class="govuk-label govuk-!-font-weight-bold" for="postcode">
				Enter a postcode
			</label>
			{% if invalid_postcode %}
				<span id="passport-issued-error" class="govuk-error-message">
		      <span class="govuk-visually-hidden">Error:</span> Invalid postcode "{{ invalid_postcode }}" &ndash; Enter a full and valid UK postcode.
		    </span>
			{% endif %}
			<p class="govuk-!-margin-bottom-0">
				<input form="regionform"
				       class="govuk-input govuk-input--width-10{% if invalid_postcode %} govuk-input--error{% endif %}"
				       id="postcode" name="postcode" type="text"
				       pattern="[A-Za-z]{1,2}\d{1,2}[A-Za-z]?\s?\d{1,2}[A-Za-z]{1,2}\s{0,2}"
				       style="text-transform: uppercase; max-width: 15ex;" maxlength="10">
				<label for="submit-postcode" class="govuk-visually-hidden">Submit</label>
				<input class="govuk-button govuk-!-margin-bottom-0" id="submit-postcode"
				       data-module="govuk-button" type="submit" value=""/>
			</p>
	  </fieldset>
	</div>

</form>
