{% set R_growth_min = "transmissionRateGrowthRateMin" | get_data(data) %}
{% set R_growth_max = "transmissionRateGrowthRateMax" | get_data(data) %}
{% set transmissionRateMin = "transmissionRateMin" | get_data(data) %}
{% set transmissionRateMax = "transmissionRateMax" | get_data(data) %}

<div class="stand-alone-metric">
	{% if R_growth_max.areaName[0] == "U" -%}
		<h3 class="sam-heading">Estimated R number</h3>
	{% else %}
		<h4 class="sam-heading">
			Estimated R number for
			{% if R_growth_max.areaName[0] not in "NSW" -%}
				the healthcare region of
			{%- endif %}
			{{ R_growth_max.areaName }}
		</h4>
	{% endif %}
	<p class="sam-body">
		{{ transmissionRateMin.value }}&nbsp;to&nbsp;{{ transmissionRateMax.value }}&nbsp;with
		a daily infection growth rate range
		of&nbsp;
			{%- if R_growth_max is undefined %}
				N/A
			{%- elif R_growth_min.raw > 0 -%}
				+{{ R_growth_min.value }}%
			{%- elif R_growth_min.raw < 0 -%}
				{{ R_growth_min.value }}%
			{%- else -%}
				0%
			{%- endif -%}
			&nbsp;to&nbsp;
			{%- if R_growth_max is undefined -%}
				N/A
			{%- elif R_growth_max.raw > 0 -%}
				+{{ R_growth_max.value }}%
			{%- elif R_growth_max.raw < 0 -%}
				{{ R_growth_max.value }}%
			{%- else -%}
				0%
			{%- endif -%}
		&nbsp;as of {{ transmissionRateMax.date }}.
	</p>
</div>