{#{% set R_growth_min = "transmissionRateGrowthRateMin" | get_data(data) %}#}
{#{% set R_growth_max = "transmissionRateGrowthRateMax" | get_data(data) %}#}
{% set transmissionRateMin = "transmissionRateMin" | get_data(data) %}
{% set transmissionRateMax = "transmissionRateMax" | get_data(data) %}

<div class="card-wide govuk-!-margin-top-3">
	<div class="content">

		<div class="topic column govuk-!-margin-bottom-0">
			<div>
				<span class="govuk-caption-m govuk-!-font-weight-regular" itemprop="name">Transmission</span>
			</div>
			{% if transmissionRateMin.areaName[0] == "U" -%}
				<h3 class="govuk-heading-m title-mobile govuk-!-margin-bottom-0">R value</h3>
			{% else %}
				<h4 class="govuk-heading-m title-mobile govuk-!-margin-bottom-0">
					R value in {{ transmissionRateMin.areaName }}
					{% if transmissionRateMin.areaType != "nation" -%}
						healthcare region
					{%- endif %}
				</h4>
			{% endif %}
			<p class="grey govuk-!-font-size-14 govuk-!-margin-bottom-0 govuk-!-margin-top-0">
				Latest data {% if is_postcode -%}at
				<strong>{{ transmissionRateMin.areaType | to_full_area_type | lower }}</strong> level{%- endif %}
				provided on&nbsp;<span style="white-space: nowrap">{{ transmissionRateMin.date }}</span>
			</p>
			<div class="column link">
				<div>
					<a class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-2 ext-link"
					   rel="next"
					   style="text-decoration: none"
					   href="/details/healthcare?areaType={{ transmissionRateMin.areaType }}&areaName={{ transmissionRateMin.areaName }}#card-reproduction_number_r_and_growth_rate">
						<b>All transmission data in {{ transmissionRateMin.areaName }}</b>
					</a>
				</div>
			</div>
		</div>
		<div class="column govuk-!-margin-bottom-0">
			<div>
				<div class="number-group">
					<div class="number-container">
						<div class="govuk-!-margin-bottom-1">R value, estimated range</div>
						<div class="float tooltip">
							<div class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
									<span class="govuk-link--no-visited-state number-link number">
										{{ transmissionRateMin.value }}&nbsp;to&nbsp;{{ transmissionRateMax.value }}
										<span class="tooltiptext govuk-!-font-size-16" itemprop="disambiguatingDescription">
												Reported on {{ transmissionRateMax.date }}
										</span>
									</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div style="padding-bottom: 0 !important;" class="govuk-!-margin-top-2">
				<details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
					<summary class="govuk-details__summary govuk-!-margin-bottom-0">
    <span class="govuk-details__summary-text govuk-!-font-size-16">
      About the R value
    </span>
					</summary>
					<div class="govuk-details__text govuk-body-s">
						<p>The average number of secondary infections produced by a single infected person.</p>
						<ul class="govuk-list govuk-body-s">
							<li>If R is greater than 1 the epidemic is growing.</li>
							<li>If R is less than 1 the epidemic is shrinking.</li>
							<li>If R is equal to 1 the total number of infections is stable.</li>
						</ul>
					</div>
				</details>
			</div>
		</div>
		<div class="mob-link additional-info" style="width: 100%">
			<hr class="govuk-section-break govuk-section-break--visible bottom-aligned" style="margin: 0 -20px;"/>
			<p class="bottom-aligned govuk-!-margin-top-2 govuk-!-font-size-16 govuk-!-margin-bottom-0">
				<a class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-2"
				   rel="next"
				   style="text-decoration: none; justify-self: start"
				   href="/details/healthcare?areaType={{ transmissionRateMin.areaType }}&areaName={{ transmissionRateMin.areaName }}#card-reproduction_number_r_and_growth_rate">
					<b>All transmission data in {{ transmissionRateMin.areaName }}</b>
				</a>
			</p>
		</div>
	</div>
</div>