{% set R_growth_min = r_values.transmissionRateGrowthRateMin | default(None) %}
{% set R_growth_max = r_values.transmissionRateGrowthRateMax | default(None) %}
<div class="stand-alone-metric">
	{% if area_info is undefined -%}
		<h3 class="sam-heading">Estimated R number</h3>
	{% else %}
		<h4 class="sam-heading">
			Estimated R number for
			{% if area_info["ltla"][0] not in "NSW" -%}
				the healthcare region of
			{%- endif %}
			{{ area_info["nhsRegionName"] | default(area_info['nationName'], true) }}
		</h4>
	{% endif %}
	<p class="sam-body">
		{{ r_values.transmissionRateMin }}&nbsp;to&nbsp;{{ r_values.transmissionRateMax }}&nbsp;with
		a daily infection growth rate range
		of&nbsp;
			{%- if R_growth_max|isnone %}
				N/A
			{%- elif R_growth_min > 0 -%}
				+{{ R_growth_min }}%
			{%- elif R_growth_min < 0 -%}
				{{ R_growth_min }}%
			{%- else -%}
				0%
			{%- endif -%}
			&nbsp;to&nbsp;
			{%- if R_growth_max|isnone -%}
				N/A
			{%- elif R_growth_max > 0 -%}
				+{{ R_growth_max }}%
			{%- elif R_growth_max < 0 -%}
				{{ R_growth_max }}%
			{%- else -%}
				0%
			{%- endif -%}
		&nbsp;as of {{ r_values.date }}.
	</p>
</div>