{% macro details(item, description) -%}
	<details class="govuk-details govuk-!-margin-top-1 govuk-!-margin-bottom-1 bottom-aligned" data-module="govuk-details">
		<summary class="govuk-details__summary">
		  <span class="govuk-details__summary-text body-small">
		    Rate per 100,000 people:&nbsp;
			  <strong>{{ item.value }}</strong>
		  </span>
		</summary>
		<div class="govuk-details__text">
			<span class="body-small">7-day rolling rate {{ description }}&nbsp;{{ item.date.replace(" ", "&nbsp;") | safe }}</span>
		</div>
	</details>
{%- endmacro %}