{% set firstDose  = vaccinations.cumPeopleReceivingFirstDose  | default(None) %}
{% set secondDose = vaccinations.cumPeopleReceivingSecondDose | default(None) %}
{% set urlPath = "/details/vaccinations" %}

<div class="stand-alone-metric">
	<h3 class="sam-heading">
		People vaccinated
		{%- if area_info is defined -%}
			&nbsp;in {{ area_info.nationName }}
		{%- endif -%}
		&nbsp;&mdash; 1st&nbsp;dose
	</h3>
	<p class="sam-body">
		{{ firstDose|format_number }} up to and including {{ vaccinations.date }}.
		<a class="govuk-link govuk-link--no-visited-state"
		   href="{{ urlPath }}{% if area_info is defined %}?areaType=nation&areaName={{ area_info.nationName }}{% endif %}">
			View vaccination data
		</a>
	</p>
</div>
