{% set urlPath = "/details/vaccinations" %}
{% set firstDose = "cumPeopleVaccinatedFirstDoseByPublishDate" | get_data(data) %}
{% set secondDose = "cumPeopleVaccinatedSecondDoseByPublishDate" | get_data(data) %}

<div class="stand-alone-metric">
	{% if postcode is undefined -%}
		<h3 class="sam-heading">People vaccinated up to and including {{ firstDose.date }}</h3>
	{% else %}
		<h4 class="sam-heading">
			People vaccinated up to and including {{ firstDose.date }}&nbsp;in {{ firstDose.areaName }}
		</h4>
	{%- endif %}
	<p class="sam-body govuk-!-margin-bottom-1">First dose: {{ firstDose.value }}</p>
	<p class="sam-body">Second dose: {{ secondDose.value }}</p>
	<p class="sam-body">
		<a class="govuk-link govuk-link--no-visited-state"
		   href="{{ urlPath }}{% if firstDose.areaType != "overview" %}?areaType=nation&areaName={{ firstDose.areaName }}{% endif %}">
			View vaccination data
		</a>
	</p>
</div>
