{%- cache 300, 'whatsnew-banners', timestamp -%}
	{% for banner in whatsnew_banners(timestamp) %}
		<div class="change-log-banner">
			<div class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-0">
					<time datetime="{{ banner.date }}">{{ banner.formatted_date }}</time> &mdash; {{ banner.headline }}
	        <a href="/details/whats-new#{{ banner.anchor }}"
	           class={{ "govuk-link govuk-link--no-visited-state govuk-!-margin-left-1" }}>
		        More
	        </a>
	    </div>
		</div>
	{% endfor %}
{% endcache %}