azure-core==1.11.0
azure-common==1.1.26
azure-nspkg==3.0.2
azure-storage-common==2.1.0
azure-storage-nspkg==3.1.0
azure-storage-blob==12.7.1
azure-cosmos==4.2.0
PyYAML
jinja2==2.11.3
flask==1.1.2
plotly==4.14.3
kaleido==0.0.3.post1
pandas==1.2.2
flask-minify==0.29
werkzeug==1.0.1
redis==3.5.3
pytz==2021.1
flask-caching==1.9.0
flask_cors==3.0.10
opencensus-ext-azure==1.0.7
opencensus-ext-flask==0.7.4
opencensus-ext-logging==0.1.0
opencensus-ext-requests==0.7.4
Markdown==3.3.3
asyncpg
aiofiles
aiohttp
uvicorn
starlette
