azure-storage-blob
azure-cosmos==4.2.0
PyYAML
jinja2
flask==1.1.2
plotly
kaleido==0.2.1
pandas
werkzeug==1.0.1
redis==3.5.3
pytz==2021.1
flask-caching==1.9.0
flask_cors==3.0.10
opencensus-ext-azure
opencensus-ext-logging
opencensus-ext-requests
Markdown
asyncpg
aiofiles
aiohttp
uvicorn
starlette
orjson
uvicorn[standard]
gunicorn
