<div class="mini-card map-view">
{#	<div style="display: flex; flex: 1 2 300px">#}

{#		<div class="govuk-grid-row">#}
			<div class="">
				<h3 class="govuk-heading-m">Explore the UK interactive map</h3>
				<p class="govuk-body-m">Browse cases by week.</p>
				<p class="govuk-body-m">See how the pandemic is spreading across the UK.</p>
				<a href="/details/interactive-map" class="govuk-button" style="width: max-content">
						View map
				</a>

			</div>
			<div class="" style="text-align: center">
				<img src="https://coronavirus.data.gov.uk/public/assets/frontpage/images/map.png"
				     class="map-img"
				     alt="Map of the UK showing latest rate of new cases by specimen date for Upper Tier Local Authorities">
			</div>
{#		</div>#}

{#	</div>#}
</div>