<div class="govuk-grid-column-one-half">
	<div class="blue-panel">

		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-half">
				<h3 class="govuk-heading-m white">Explore the UK interactive map</h3>
				<p class="white">Browse cases, deaths and patients admitted by week.</p>
				<p class="white">See how the pandemic is spreading across the UK.</p>
				<a href="interactive-map" class="govuk-button govuk-button--secondary">
						View map
				</a>

			</div>
			<div class="govuk-grid-column-one-half">
				<img src="/assets/public/images/msoa-map-white.png" width="100%" alt="">
			</div>
		</div>

	</div>
</div>