<div class="govuk-grid-column-one-half">
	<div class="dashboard-panel govuk-!-margin-left-0">

		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-half">
				<h3 class="govuk-heading-m">Explore the UK interactive map</h3>
				<p class="govuk-body-m">Browse cases by week.</p>
				<p class="govuk-body-m">See how the pandemic is spreading across the UK.</p>
				<a href="interactive-map" class="govuk-button">
						View map
				</a>

			</div>
			<div class="govuk-grid-column-one-half">
				<img src="/assets/public/images/msoa-map-white.png" width="100%" alt="">
			</div>
		</div>

	</div>
</div>