<div class="govuk-!-margin-top-2">
	<form action="/search" method="GET" id="regionform"
	      enctype="application/x-www-form-urlencoded">
		<div class="govuk-form-group">
			<label class="govuk-label govuk-!-font-weight-bold" for="postcode">
				Enter a postcode
			</label>
			<p class="govuk-hint">
				For example: AB12 3CD
			</p>
			<p>
				<input form="regionform" class="govuk-input govuk-input--width-10" id="postcode"
				       name="postcode" type="text" pattern="[A-Za-z0-9\s]{5,8}" maxlength="8">
			</p>
		</div>
		<input class="govuk-button" data-module="govuk-button" value="Search" type="submit"/>
	</form>
</div>