/* autoprefixer grid: autoplace */

.govuk-main-wrapper {
  padding-top: 0 !important;
}

main {
  font-family: $govuk-font-family;
}

.card-container {
  display: grid;
  grid-gap: 5px;
  margin-top: 1rem;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  &.double-row {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
  }

  @include govuk-media-query($from: 400px) {
    grid-template-columns: repeat(2, minmax(45%, auto));
    grid-template-rows: auto 1fr;
  }

  @include govuk-media-query($from: 1100px) {
    &.double-row {
      grid-template-columns: repeat(4, minmax(200px, 1fr));
      grid-template-rows: 1fr;
      grid-gap: 10px;
    }
  }
  @include govuk-media-query($from: mobile) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    &.double-row {
      grid-template-columns: auto auto;
      grid-template-rows: 1fr;

      grid-gap: 5px;

      & > * {
        min-width: 100px;
      }
    }
  }

  @include govuk-media-query($from: 1150px) {
    grid-template-columns: repeat(4, minmax(20%, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 10px;
    &.double-row {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: 1fr;
      grid-gap: 10px;

      & > * {
        min-width: 250px;
      }
    }
  }
}

.mini-card {
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px #f3f2f1 solid;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-self: stretch;
}

.map-view {
  display: grid;

  .map-img {
    max-height: 470px;
  }

  @include govuk-media-query($from: mobile) {
    grid-template-columns: 1fr;
    grid-template-rows:  auto 1fr;
    .map-img {
      max-height: 380px;
    }
  }

  @include govuk-media-query($from: 1100px) {
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: 1fr;
    .map-img {
      max-height: 380px;
    }
  }

  @media screen and (max-width: 385px){
    .map-img {
      max-height: 350px;
    }
  }
}


#submit-postcode {
  background: #000;
  background-image: url(/assets/images/icon-magnify.svg);
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-position: center center;
  width: 45px;
  height: 38px;
  margin-left: 2px;
}

.tooltip {
  padding: 0 !important;
  width: max-content !important;
  z-index: unset !important;
}

.tooltiptext {
  z-index: 999999999 !important;
  background: rgba(0, 0, 0, 0.9);
}

.card-local {
  border: none;
  background-color: unset;
  margin: 10px 0 !important;
}

.local-data {
  background-color: #f8f8f8;
  border: 1px #f3f2f1 solid;
  margin: 10px;
}

.local-intro {
  margin: 20px;
}

@media only print {
  .govuk-grid-column-menu {
    display: none;
  }
}


.status-banner {
  padding: .7rem 30px
}

@media only screen and (max-width: 600px) {
  .card,
  .card-local,
  .local-data {
    padding: 10px;
    margin: 5px 0 !important;
  }
  .status-banner {
    padding: .7rem 20px
  }
  .local-intro {
    margin: 10px;
  }
}

.number, number-* {
  font-feature-settings: "tnum" !important;
  font-variant-numeric: tabular-nums !important;
}

.card,
.more-detail {
  justify-self: flex-end;
  align-self: stretch;
}

.graph {
  display: block;
  margin: 1rem 0 0 0;
}

.graph > img {
  max-width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
}

.govuk-header__logo{
  width: unset;
}


.postcode-lead {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: 30px;

  @include govuk-media-query($from: mobile) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  @include govuk-media-query($from: 1100px) {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
  }
}

.mobile-menu-button {
  display: inline-block;

  @include govuk-media-query($from: mobile) {
    display: none;
  }
}

.govuk-header__link--homepage {
  margin-right: 0;

  @include govuk-media-query($from: 400px) {
    margin-right: 70px;
  }
}

.gray-text {
  color: #636a6d !important;
}

.mini-card-figure {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
}

.min-card-more-detail {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.tooltiptext {
  background: rgba(0, 0, 0, .85) !important;
  border-radius: 3px;
  transition: opacity 0.3s ease-out;
  font-size: .9rem !important;
  padding: .5rem 1rem !important;
  width: 150px !important;
}

#mobile-navigation {
  width: 100%;
}