.govuk-main-wrapper {
  padding-top: 0 !important;
}

main {
  font-family: $govuk-font-family;
}

.card,
.card-local {
  flex: 1 1 150px;
  padding: 20px;
  margin: 10px;
  background-color: #f8f8f8;
  border: 1px #f3f2f1 solid;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-self: stretch;
}

.tooltip {
  padding: 0 !important;
  width: max-content !important;
  z-index: unset !important;
}

.tooltiptext {
  z-index: 999999999 !important;
  background: rgba(0, 0, 0, 0.9);
}

.card-local {
  border: none;
  background-color: unset;
  margin: 10px 0 !important;
}

.local-data {
  background-color: #f8f8f8;
  border: 1px #f3f2f1 solid;
  margin: 10px;
}

.local-intro {
  margin: 20px;
}

.dashboard-panel {
  margin: 10px;
}

@media only print {
  .govuk-grid-column-menu {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .card,
  .card-local,
  .local-data {
    padding: 10px;
    margin: 5px 0 !important;
  }

  .local-intro {
    margin: 10px;
  }
}

.number, number-* {
  font-feature-settings: "tnum" !important;
  font-variant-numeric: tabular-nums !important;
}

.card,
.more-detail {
  justify-self: flex-end;
  align-self: stretch;
}

.card-container,
.card-local-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.graph {
  display: block;
  margin: 1rem 0 0 0;
}

.graph > img {
  max-width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
}

.govuk-header__logo{
  width: unset;
}
