{% extends "base.html" %}

{% block main %}
<div class="govuk-grid-column-dashboard ">
	<div class="sticky-header govuk-!-padding-top-3">

		<!-- The overlay -->
		<div id="mobile-nav" class="overlay">

			<!-- Button to close the overlay navigation -->
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

			<!-- Overlay content -->
			<div class="overlay-content">


				<ul class="govuk-list">
					<li>
						<a class="govuk-link " href="summary-menu">Daily summary</a>
					</li>
					<li>
						<a class="govuk-link " href="tests-menu">Tests</a>
					</li>
					<li>
						<a class="govuk-link " href="cases-menu">Cases</a>
					</li>
					<li>
						<a class="govuk-link " href="healthcare-menu">Healthcare</a>
					</li>
					<li>
						<a class="govuk-link " href="deaths-menu">Deaths</a>
					</li>
					<hr class="govuk-section-break govuk-section-break--m govuk-!-margin-top-3 govuk-!-margin-bottom-3 govuk-section-break--visible">

					<li>
						<a class="govuk-link" href="#">About the data</a>
					</li>
				</ul>
			</div>


		</div>


		<div class="govuk-grid-row govuk-!-margin-top-0">
			<div class="govuk-grid-column-one-half">
				<span class="govuk-caption-l govuk-!-margin-bottom-0 panel-title-new">UK summary</span>
			</div>
			<div class="govuk-grid-column-one-half filters govuk-!-padding-top-1">
			</div>
		</div>

		<div class="govuk-grid-row govuk-!-margin-top-0">
			<div class="govuk-grid-column-full">
				<hr class="govuk-section-break govuk-section-break--m govuk-!-margin-top-2 govuk-!-margin-bottom-0 govuk-section-break--visible">
			</div>
		</div>

		<div id="localisation" class="govuk-!-margin-top-3">
			<div class="govuk-!-padding-left-5 govuk-!-padding-right-5">

				<div class="govuk-grid-row govuk-!-margin-top-2 govuk-!-margin-bottom-1">

					<div class="govuk-grid-column-one-half">
						<h4 class="govuk-heading-s govuk-!-margin-top-1 govuk-!-margin-bottom-1">Select a location</h4>

						<div class="govuk-grid-row govuk-!-margin-bottom-2">

							<div class="govuk-grid-column-one-half">
								<div class="govuk-form-group location-mobile">
									<select class="govuk-select" id="nations" name="nations" onchange="showSelectMenu(this)">
										<option value="uk" selected="">Select area type</option>
										<option value="divider">_______________________________</option>
										<option value="nation">Nation</option>
										<option value="region">Region</option>
										<option value="utla">Upper Tier Local Authority (UTLA)</option>
										<option value="ltla">Lower Tier Local Authority (LTLA)</option>
									</select>
								</div>
							</div>

							<div class="govuk-grid-column-one-half">
								<div class="govuk-form-group location-mobile">
									<select class="govuk-select" name="utla">
										<option value="allutla" selected="">Select area</option>
										<option value="divider">_______________________________</option>
										<option value="Derbyshire">Derbyshire</option>
										<option value="Derby">Derby</option>
										<option value="Leicestershire">Leicestershire</option>
										<option value="Lincolnshire">Lincolnshire</option>
										<option value="Northamptonshire">Northamptonshire</option>
										<option value="Nottinghamshire">Nottinghamshire</option>
										<option value="Rutland">Rutland</option>
									</select>
								</div>
							</div>

						</div>
					</div>
					<div class="govuk-grid-column-one-quarter">
						<h4 class="govuk-heading-s govuk-!-margin-top-1 govuk-!-padding-left-3 govuk-!-margin-bottom-1">or
							enter a postcode</h4>

						<div class="govuk-grid-column-full">

							<div class="moj-primary-navigation__search">

								<div class="moj-search moj-search--ondark moj-search--inline">
									<form action="cases-location3" method="get">

										<div class="govuk-form-group">
											<label class="govuk-label moj-search__label govuk-visually-hidden" for="search-1">
												Search
											</label>

											<input class="govuk-input moj-search__input " id="search-1" name="search-1"
											       placeholder="Postcode" type="search">
										</div>

										<button type="submit" class="govuk-button moj-search__button gem-c-search__submit"
										        data-module="govuk-button">
											Search
										</button>

									</form>
								</div>

							</div>

						</div>

					</div>
				</div>


			</div>


			<div class="govuk-grid-row govuk-!-margin-top-0">
				<div class="govuk-grid-column-full">
					<hr class="govuk-section-break govuk-section-break--m govuk-!-margin-top-2 govuk-!-margin-bottom-0 govuk-section-break--visible">
				</div>
			</div>

		</div>

	</div>

	<div class="govuk-grid-row govuk-!-margin-top-5">
		<div class="govuk-grid-column-full">

			<p class="govuk-!-margin-bottom-2">The official UK Government website for data and insights on Coronavirus
				(COVID-19). Data is collected and published daily at around 4pm.</p>
			<p>The latest R number is estimated at <span class="green"><b>0.7 to 0.9</b></span> with a daily growth rate
				range of <span class="green"><b>–5% to –1%</b></span> <a
								href="https://www.gov.uk/guidance/the-r-number-in-the-uk">More info</a></p>

		</div>
	</div>


	<div class="govuk-grid-row govuk-!-margin-top-0">

		<div class="govuk-grid-column-one-half">

			<div class="govuk-grid-row govuk-!-margin-top-0">
				<div class="half leftpanel">
					<div class="dashboard-panel">

						<div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
							<div class="govuk-grid-column-full">
								<span class="govuk-caption-m govuk-!-font-weight-regular">Tests</span>
								<h3 class="govuk-heading-m govuk-!-margin-bottom-2 title-mobile">Number of tests</h3>
							</div>
						</div>

						<div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
							<div class="govuk-grid-column-full">

								<div class="data-metric2">

									<div class="govuk-body-s float govuk-!-margin-bottom-0" style="width:80%;">Daily</div>

									<div class="number-group">
										<div class="number-container govuk-!-padding-right-4">
											<div class="float tooltip"><h3
															class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
												<a href="#" class="govuk-link--no-visited-state number-link" id="newtests"
												   onclick="showHelp()">{{ newtests | numberFormat }}<span id="testsdate"
												                                                           class="tooltiptext govuk-!-font-size-16">Daily number of tests processed on {{ testsdate }}</span></a>
											</h3></div>

										</div>

									</div>

								</div>

								<div class="data-metric2">

									<div class="govuk-body-s float govuk-!-margin-top-2 govuk-!-margin-bottom-0" style="width:80%;">
										Last 7 days
									</div>

									<div class="number-group">
										<div class="number-container govuk-!-padding-right-4">
											<div class="float tooltip"><h3
															class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
												<a href="#" class="govuk-link--no-visited-state number-link" id="weekoftests"
												   onclick="showHelp()">{{ weekoftests | numberFormat }}<span id="fortnighttopriorweek"
												                                                              class="tooltiptext govuk-!-font-size-16">Total number of tests processed in last 7 days {{ testsdateweekprev }} - {{ testsdate }}</span></a>
											</h3></div>
										</div>

									</div>
									<div class="number-container">
										<div class="float tooltip"><h3
														class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
											<a href="#" class="govuk-link--no-visited-state number-link-grey"
											   onclick="showHelp()"><strong id="testschange" class="govuk-tag govuk-tag--grey"><img
															id="testsarrowdir" src="/assets/public/images/arrow-{{ testsarrowdir }}.png"
															width="12px" alt="down arrow"> {{ testschange | numberFormat }}</strong> <span
															id="datetopriorweek" class="tooltiptext govuk-!-font-size-16">Percentage change from previous 7 days ({{ testsdatefortnightprev }} - {{ testsdateweekprev }})</span></a>
										</h3></div>
									</div>

								</div>
								<div style="clear: both"></div>
								<div class="govuk-grid-row govuk-!-margin-top-5 govuk-!-margin-bottom-0">
									<div class="govuk-grid-column-full">
										<img src="/assets/public/images/graph-tests-small.png" width="100%" alt="">

									</div>
								</div>
							</div>


						</div>


						<div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
							<div class="govuk-grid-column-full">
								<div class="govuk-!-margin-top-2 govuk-!-margin-bottom-7"><a
												class="govuk-link more-detail govuk-!-font-weight-bold govuk-link--no-visited-state"
												href="tests-menu">All tests data</a></div>
							</div>
						</div>

					</div>
				</div>


				<div class="half rightpanel">
					<div class="dashboard-panel">

						<div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
							<div class="govuk-grid-column-full">
								<span class="govuk-caption-m">Cases</span>
								<h3 class="govuk-heading-m govuk-!-margin-bottom-2">People tested positive</h3>
							</div>
						</div>

						<div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
							<div class="govuk-grid-column-full">

								<div class="data-metric2">

									<div class="govuk-body-s float govuk-!-margin-bottom-0" style="width:80%;">Daily</div>

									<div class="number-group">
										<div class="number-container govuk-!-padding-right-4">
											<div class="float tooltip"><h3
															class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
												<a href="#" class="govuk-link--no-visited-state number-link" id="newcases"
												   onclick="showHelp()">{{ newcases | numberFormat }}<span id="casesdate"
												                                                           class="tooltiptext govuk-!-font-size-16">Daily number of new people with a lab-confirmed positive test result on {{ casesdate }}</span></a>
											</h3></div>

										</div>

									</div>

								</div>

								<div class="data-metric2">

									<div class="govuk-body-s float govuk-!-margin-bottom-0 govuk-!-margin-top-2" style="width:80%;">
										Last 7 days
									</div>

									<div class="number-group">
										<div class="number-container govuk-!-padding-right-4">
											<div class="float tooltip"><h3
															class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
												<a href="#" class="govuk-link--no-visited-state number-link" id="weekofcases"
												   onclick="showHelp()">{{ weekofcases | numberFormat }}<span id="fortnighttopriorweek"
												                                                              class="tooltiptext govuk-!-font-size-16">Total number of new people with a lab-confirmed positive test result in last 7 days {{ casesdateweekprev }} - {{ casesdate }}</span></a>
											</h3></div>
										</div>

									</div>
									<div class="number-container">
										<div class="float tooltip"><h3
														class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
											<a href="#" class="govuk-link--no-visited-state number-link-red"
											   onclick="showHelp()"><strong id="caseschange"
											                                class="govuk-tag govuk-tag--{{ casestagcol }}"><img
															id="casesarrowdir" src="/static/public/images/arrow-{{ casesarrowdir }}.png"
															width="12px" alt="down arrow"> {{ caseschange | numberFormat }} <span
															class="govuk-!-font-weight-regular">({{ casestrialchange }}%)</span> </strong> <span
															class="tooltiptext govuk-!-font-size-16">Percentage change from previous 7 days ( {{ casesdatefortnightprev }} - {{ casesdateweekprev }})</span></a>
										</h3></div>
									</div>

								</div>
								<div style="clear: both"></div>
								<div class="govuk-grid-row govuk-!-margin-top-5 govuk-!-margin-bottom-0">
									<div class="govuk-grid-column-full">
										<img src="/static/public/images/graph-cases-small.png" width="100%" alt="">

									</div>
								</div>
							</div>


						</div>

						<!--
            <div class="govuk-grid-row status-green govuk-!-margin-top-3 govuk-!-margin-bottom-0">
            <div class="govuk-grid-column-full">
            <p>The Uk has seen a reduction of cases in the past 7 days.</p>
          </div>
        </div>
      -->

						<div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
							<div class="govuk-grid-column-full">
								<div class="govuk-!-margin-top-2 govuk-!-margin-bottom-7"><a
												class="govuk-link more-detail govuk-!-font-weight-bold govuk-link--no-visited-state"
												href="cases-menu">All cases data</a></div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>

		<div class="govuk-grid-column-one-half panel-right">

			<div class="govuk-grid-row govuk-!-margin-top-0">
				<div class="half leftpanel">
					<div class="dashboard-panel">

						<div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
							<div class="govuk-grid-column-full">
								<span class="govuk-caption-m">Healthcare</span>
								<h3 class="govuk-heading-m govuk-!-margin-bottom-2">Patients admitted</h3>
							</div>
						</div>

						<div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
							<div class="govuk-grid-column-full">

								<div class="data-metric2">

									<div class="govuk-body-s float govuk-!-margin-bottom-0" style="width:80%;">Daily</div>

									<div class="number-group">
										<div class="number-container govuk-!-padding-right-4">
											<div class="float tooltip"><h3
															class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
												<a href="#" class="govuk-link--no-visited-state number-link" id="newadmissions"
												   onclick="showHelp()">{{ newadmissions | numberFormat }}<span id="admissionsdate"
												                                                                class="tooltiptext govuk-!-font-size-16">Daily number of COVID-19 patients admitted to hospital on {{ admissionsdate }}</span></a>
											</h3></div>

										</div>

									</div>

								</div>

								<div class="data-metric2">

									<div class="govuk-body-s float govuk-!-margin-bottom-0 govuk-!-margin-top-2" style="width:80%;">
										Last 7 days
									</div>

									<div class="number-group">
										<div class="number-container govuk-!-padding-right-4">
											<div class="float tooltip"><h3
															class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
												<a href="#" class="govuk-link--no-visited-state number-link" id="weekofadmissions"
												   onclick="showHelp()">{{ weekofadmissions }}<span id="fortnighttopriorweek"
												                                                    class="tooltiptext govuk-!-font-size-16">Total number of COVID-19 patients admitted to hospital in the last 7 days {{ admissionsdateweekprev }} - {{ admissionsdate }}</span></a>
											</h3></div>
										</div>

									</div>
									<div class="number-container">
										<div class="float tooltip"><h3
														class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
											<a href="#" class="govuk-link--no-visited-state number-link-green"
											   onclick="showHelp()"><strong id="admissionschange"
											                                class="govuk-tag govuk-tag--{{ admissionstagcol }}"><img
															id="admissionsarrowdir"
															src="/static/public/images/arrow-{{ admissionsarrowdir }}.png" width="12px"
															alt="down arrow"> {{ admissionschange | numberFormat }}</strong> <span
															id="fortnighttopriorweek" class="tooltiptext govuk-!-font-size-16">Percentage change from previous 7 days ({{ admissionsdatefortnightprev }} - {{ admissionsdateweekprev }})</span></a>
										</h3></div>
									</div>

								</div>
								<div style="clear: both"></div>
								<div class="govuk-grid-row govuk-!-margin-top-5 govuk-!-margin-bottom-0">
									<div class="govuk-grid-column-full">
										<img src="/static/public/images/graph-patients-small.png" width="100%" alt="">

									</div>
								</div>
							</div>


						</div>

						<!--
            <div class="govuk-grid-row status-green govuk-!-margin-top-3 govuk-!-margin-bottom-0">
            <div class="govuk-grid-column-full">
            <p>The Uk has seen a reduction of cases in the past 7 days.</p>
          </div>
        </div>
      -->

						<div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
							<div class="govuk-grid-column-full">
								<div class="govuk-!-margin-top-2 govuk-!-margin-bottom-7"><a
												class="govuk-link more-detail govuk-!-font-weight-bold govuk-link--no-visited-state"
												href="healthcare-menu">All healthcare data</a></div>
							</div>
						</div>


					</div>
				</div>


				<div class="half rightpanel">
					<div class="dashboard-panel">

						<div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
							<div class="govuk-grid-column-full">
								<span class="govuk-caption-m">Deaths</span>
								<h3 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmed deaths</h3>
							</div>
						</div>

						<div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
							<div class="govuk-grid-column-full">

								<div class="data-metric2">

									<div class="govuk-body-s float govuk-!-margin-bottom-0" style="width:80%;">Daily</div>

									<div class="number-group">
										<div class="number-container govuk-!-padding-right-4">
											<div class="float tooltip"><h3
															class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
												<a href="#" class="govuk-link--no-visited-state number-link" id="newdeaths"
												   onclick="showHelp()">{{ newdeaths | numberFormat }}<span id="deathsdate"
												                                                            class="tooltiptext govuk-!-font-size-16">Daily number of deaths from people who have had a positive test result on {{ deathsdate }}</span></a>
											</h3></div>

										</div>

									</div>

								</div>

								<div class="data-metric2">

									<div class="govuk-body-s float govuk-!-margin-bottom-0 govuk-!-margin-top-2" style="width:80%;">
										Last 7 days
									</div>

									<div class="number-group">
										<div class="number-container govuk-!-padding-right-4">
											<div class="float tooltip"><h3
															class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
												<a href="#" class="govuk-link--no-visited-state number-link" id="weekofdeaths"
												   onclick="showHelp()">{{ weekofdeaths }}<span id="fortnighttopriorweek"
												                                                class="tooltiptext govuk-!-font-size-16">Total number of deaths from people who have had a positive test result in the last 7 days {{ deathsdateweekprev }} - {{ deathsdate }}</span></a>
											</h3></div>
										</div>

									</div>
									<div class="number-container">
										<div class="float tooltip"><h3
														class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
											<a href="#" class="govuk-link--no-visited-state number-link-green"
											   onclick="showHelp()"><strong id="deathschange"
											                                class="govuk-tag govuk-tag--{{ deathstagcol }}"><img
															id="deathsarrowdir" src="/static/public/images/arrow-{{ deathsarrowdir }}.png"
															width="12px" alt="down arrow"> {{ deathschange | numberFormat }}</strong> <span
															id="datetopriorweek" class="tooltiptext govuk-!-font-size-16">Percentage change from previous 7 days ({{ deathsdatefortnightprev }} - {{ deathsdateweekprev }})</span></a>
										</h3></div>
									</div>

								</div>
								<div style="clear: both"></div>
								<div class="govuk-grid-row govuk-!-margin-top-5 govuk-!-margin-bottom-0">
									<div class="govuk-grid-column-full">
										<img src="/static/public/images/chart-deaths-small.png" width="100%" alt="">

									</div>
								</div>
							</div>

						</div>

						<!--
            <div class="govuk-grid-row status-green govuk-!-margin-top-3 govuk-!-margin-bottom-0">
            <div class="govuk-grid-column-full">
            <p>The Uk has seen a reduction of cases in the past 7 days.</p>
          </div>
        </div>
        -->
						<div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
							<div class="govuk-grid-column-full">
								<div class="govuk-!-margin-top-2 govuk-!-margin-bottom-7"><a
												class="govuk-link more-detail govuk-!-font-weight-bold govuk-link--no-visited-state"
												href="deaths-menu">All deaths data</a></div>
							</div>
						</div>


					</div>
				</div>


			</div>
		</div>
	</div>

	{% if areaname is not defined %}
		<div class="dashboard-panel govuk-!-margin-top-5 govuk-!-padding-5">

			<div class="govuk-grid-row ">
				<div class="govuk-grid-column-full">
					<span class="govuk-caption-m">Local data</span>
					<h3 class="govuk-heading-m govuk-!-margin-bottom-2">
						Regional breakdown
					</h3>
				</div>
			</div>


			<div class="govuk-grid-row ">
				<div class="govuk-grid-column-full cases">


					<div class="govuk-grid-row govuk-!-margin-top-2 govuk-!-margin-bottom-2">
						<div class="govuk-grid-column-one-half">


							<p>View data for a specific area within the UK.</p>
							<p>Not all data is available for every area - we'll show the most local information available for
								your selected area.</p>

							<div class="govuk-grid-row">
								<div class="govuk-grid-column-full">


									<div class="float">
										<div class="govuk-form-group">
											<label class="govuk-label govuk-!-font-weight-bold" for="width-10">
												Enter a postcode
											</label>
											<div class="govuk-hint">
												For example: AB12 3CD
											</div>
											<input form="regionform" class="govuk-input govuk-input--width-10" id="width-10"
											       name="postcode" type="text">
										</div>
									</div>

									<div class="float govuk-!-margin-left-8">
										<div class="govuk-form-group">
											<label class="govuk-label govuk-!-font-weight-bold" for="sort">
												or select an area
											</label>
											<div class="govuk-hint">
												Nation, region, county or local authority.
											</div>
											<select form="regionform" class="govuk-select" id="sort" name="dropdown">
												<option value="E07000032">Amber Valley</option>
												<option value="E08000025">Birmingham</option>
												<option value="E12000004">East Midlands</option>
												<option value="E92000001">England</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<form action="/areasearch" method="POST" id="regionform">
								<button class="govuk-button" data-module="govuk-button">
									Search
								</button>
							</form>

						</div>
						<div class="govuk-grid-column-one-half">
							<div class="blue-panel">

								<div class="govuk-grid-row">
									<div class="govuk-grid-column-one-half">
										<h3 class="govuk-heading-m white">Explore the UK interactive map</h3>
										<p class="white">Browse cases, deaths and patients admitted by week.</p>
										<p class="white">See how the pandemic is spreading across the UK.</p>
										<a href="interactive-map">
											<button class="govuk-button govuk-button--secondary" data-module="govuk-button">
												View map
											</button>
										</a>

									</div>
									<div class="govuk-grid-column-one-half">
										<img src="/static/public/images/msoa-map-white.png" width="100%" alt="">
									</div>
								</div>

							</div>
						</div>


					</div>


				</div>
			</div>


		</div>

	{% endif %}

	{% if areaname is defined %}

		<div class="dashboard-panel govuk-!-margin-top-5 govuk-!-padding-5">

			<div class="govuk-grid-row ">
				<div class="govuk-grid-column-full">
					<span class="govuk-caption-m">Local data</span>
					<h3 class="govuk-heading-m govuk-!-margin-bottom-2">
						Regional breakdown
					</h3>
				</div>
			</div>


			<div class="govuk-grid-row ">
				<div class="govuk-grid-column-full cases">


					<div class="govuk-grid-row govuk-!-margin-top-2 govuk-!-margin-bottom-2">
						<div class="govuk-grid-column-full">


							<p class="govuk-!-margin-bottom-0">Most relevant data available for:</p>
							<h2 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-0 govuk-!-padding-top-0">
								{{ areaname }}
							</h2>


							<div class="govuk-grid-row govuk-!-margin-top-0">

								<div class="govuk-grid-column-one-half">

									<div class="govuk-grid-row govuk-!-margin-top-0">
										<div class="half leftpanel">

											<div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
												<div class="govuk-grid-column-full">
													<span class="govuk-caption-m govuk-!-font-weight-regular">Tests</span>
													<h3 class="govuk-heading-m govuk-!-margin-bottom-2 title-mobile">Number of tests
														in {{ areaname }}</h3>
												</div>
											</div>

											<div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
												<div class="govuk-grid-column-full">

													<div class="data-metric2">

														<div class="govuk-body-s float govuk-!-margin-bottom-0" style="width:80%;">Daily</div>

														<div class="number-group">
															<div class="number-container govuk-!-padding-right-4">
																<div class="float tooltip"><h3
																				class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
																	<a href="#" class="govuk-link--no-visited-state number-link"
																	   onclick="showHelp()">{{ areanewtests | numberFormat }}<span
																					class="tooltiptext govuk-!-font-size-16">Daily number of tests processed on {{ areatestsdate }}</span></a>
																</h3></div>

															</div>

														</div>

													</div>

													<div class="data-metric2">

														<div class="govuk-body-s float govuk-!-margin-top-2 govuk-!-margin-bottom-0"
														     style="width:80%;">Last 7 days
														</div>

														<div class="number-group">
															<div class="number-container govuk-!-padding-right-4">
																<div class="float tooltip"><h3
																				class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
																	<a href="#" class="govuk-link--no-visited-state number-link"
																	   onclick="showHelp()">{{ areaweekoftests | numberFormat }}<span
																					class="tooltiptext govuk-!-font-size-16">Total number of tests processed in last 7 days ({{ areaweekprevdate }} - {{ areadate }})</span></a>
																</h3></div>
															</div>

														</div>
														<div class="number-container">
															<div class="float tooltip"><h3
																			class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
																<a href="#" class="govuk-link--no-visited-state number-link-grey"
																   onclick="showHelp()"><strong class="govuk-tag govuk-tag--grey"><img
																				src="/static/public/images/arrow-{{ areatestsarrowdir }}.png" width="12px"
																				alt="down arrow"> {{ areatestschange | numberFormat }}</strong> <span
																				class="tooltiptext govuk-!-font-size-16">Percentage change from previous 7 days ({{ areafortnightprevdate }} - {{ areaweekprevdate }})</span></a>
															</h3></div>
														</div>

													</div>
													<div style="clear: both"></div>


													<div class="govuk-grid-row govuk-!-margin-top-2 govuk-!-margin-bottom-0">
														<div class="govuk-grid-column-full">
															<div class="govuk-!-margin-top-2 govuk-!-margin-bottom-7"><a
																			class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state"
																			href="tests-menu">All tests data for this area</a></div>
														</div>
													</div>

												</div>
											</div>
										</div>


										<div class="half rightpanel">

											<div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
												<div class="govuk-grid-column-full">
													<span class="govuk-caption-m">Cases</span>
													<h3 class="govuk-heading-m govuk-!-margin-bottom-2">People tested positive
														in {{ areaname }}</h3>
												</div>
											</div>

											<div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
												<div class="govuk-grid-column-full">

													<div class="data-metric2">

														<div class="govuk-body-s float govuk-!-margin-bottom-0" style="width:80%;">Daily</div>

														<div class="number-group">
															<div class="number-container govuk-!-padding-right-4">
																<div class="float tooltip"><h3
																				class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
																	<a href="#" class="govuk-link--no-visited-state number-link"
																	   onclick="showHelp()">{{ areanewcases | numberFormat }}<span
																					class="tooltiptext govuk-!-font-size-16">Daily number of new people with a lab-confirmed positive test result on {{ areacasesdate }}</span></a>
																</h3></div>

															</div>

														</div>

													</div>

													<div class="data-metric2">

														<div class="govuk-body-s float govuk-!-margin-bottom-0 govuk-!-margin-top-2"
														     style="width:80%;">Last 7 days
														</div>

														<div class="number-group">
															<div class="number-container govuk-!-padding-right-4">
																<div class="float tooltip"><h3
																				class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
																	<a href="#" class="govuk-link--no-visited-state number-link"
																	   onclick="showHelp()">{{ areaweekofcases | numberFormat }}<span
																					class="tooltiptext govuk-!-font-size-16">Total number of new people with a lab-confirmed positive test result in last 7 days ({{ areaweekprevdate }} - {{ areadate }})</span></a>
																</h3></div>
															</div>

														</div>
														<div class="number-container">
															<div class="float tooltip"><h3
																			class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
																<a href="#" class="govuk-link--no-visited-state number-link-green"
																   onclick="showHelp()"><strong
																				class="govuk-tag govuk-tag--{{ areacasestagcol }}"><img
																				src="/static/public/images/arrow-{{ areacasesarrowdir }}.png" width="12px"
																				alt="up arrow"> {{ areacaseschange | numberFormat }}</strong> <span
																				class="tooltiptext govuk-!-font-size-16">Percentage change from previous 7 days ({{ areafortnightprevdate }} - {{ areaweekprevdate }})</span></a>
															</h3></div>
														</div>

													</div>
													<div style="clear: both"></div>


													<!--
                          <div class="govuk-grid-row status-green govuk-!-margin-top-3 govuk-!-margin-bottom-0">
                          <div class="govuk-grid-column-full">
                          <p>The Uk has seen a reduction of cases in the past 7 days.</p>
                        </div>
                      </div>
                    -->

													<div class="govuk-grid-row govuk-!-margin-top-2 govuk-!-margin-bottom-0">
														<div class="govuk-grid-column-full">
															<div class="govuk-!-margin-top-2 govuk-!-margin-bottom-7"><a
																			class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state"
																			href="cases-menu">All cases data for this area</a></div>
														</div>
													</div>

												</div>

											</div>
										</div>
									</div>
								</div>

								<div class="govuk-grid-column-one-half panel-right">

									<div class="govuk-grid-row govuk-!-margin-top-0">
										<div class="half leftpanel">

											<div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
												<div class="govuk-grid-column-full">
													<span class="govuk-caption-m">Healthcare</span>
													<h3 class="govuk-heading-m govuk-!-margin-bottom-2">Patients admitted
														in {{ areaname }}</h3>
												</div>
											</div>

											<div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
												<div class="govuk-grid-column-full">

													<div class="data-metric2">

														<div class="govuk-body-s float govuk-!-margin-bottom-0" style="width:80%;">Daily</div>

														<div class="number-group">
															<div class="number-container govuk-!-padding-right-4">
																<div class="float tooltip"><h3
																				class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
																	<a href="#" class="govuk-link--no-visited-state number-link"
																	   onclick="showHelp()">{{ areanewadmissions | numberFormat }}<span
																					class="tooltiptext govuk-!-font-size-16">Daily number of COVID-19 patients admitted to hospital on {{ areaadmissionsdate }}</span></a>
																</h3></div>

															</div>

														</div>

													</div>

													<div class="data-metric2">

														<div class="govuk-body-s float govuk-!-margin-bottom-0 govuk-!-margin-top-2"
														     style="width:80%;">Last 7 days
														</div>

														<div class="number-group">
															<div class="number-container govuk-!-padding-right-4">
																<div class="float tooltip"><h3
																				class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
																	<a href="#" class="govuk-link--no-visited-state number-link"
																	   onclick="showHelp()">{{ areaweekofadmissions }}<span
																					class="tooltiptext govuk-!-font-size-16">Total number of COVID-19 patients admitted to hospital in the last 7 days ({{ areaweekprevdate }} - {{ areadate }})</span></a>
																</h3></div>
															</div>

														</div>
														<div class="number-container">
															<div class="float tooltip"><h3
																			class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
																<a href="#" class="govuk-link--no-visited-state number-link-red"
																   onclick="showHelp()"><strong
																				class="govuk-tag govuk-tag--{{ areaadmissionstagcol }}"><img
																				src="/static/public/images/arrow-{{ areaadmissionsarrowdir }}.png"
																				width="12px" alt="down arrow"> {{ areaadmissionschange | numberFormat }}
																</strong> <span class="tooltiptext govuk-!-font-size-16">Percentage change from previous 7 days ({{ areafortnightprevdate }} - {{ areaweekprevdate }})</span></a>
															</h3></div>
														</div>

													</div>
													<div style="clear: both"></div>


													<!--
                          <div class="govuk-grid-row status-green govuk-!-margin-top-3 govuk-!-margin-bottom-0">
                          <div class="govuk-grid-column-full">
                          <p>The Uk has seen a reduction of cases in the past 7 days.</p>
                        </div>
                      </div>
                    -->

													<div class="govuk-grid-row govuk-!-margin-top-2 govuk-!-margin-bottom-0">
														<div class="govuk-grid-column-full">
															<div class="govuk-!-margin-top-2 govuk-!-margin-bottom-7"><a
																			class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state"
																			href="healthcare-menu">All healthcare data for this area</a></div>
														</div>
													</div>

												</div>


											</div>
										</div>


										<div class="half rightpanel">

											<div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
												<div class="govuk-grid-column-full">
													<span class="govuk-caption-m">Deaths</span>
													<h3 class="govuk-heading-m govuk-!-margin-bottom-2">Confirmed deaths
														in {{ areaname }} </h3>
												</div>
											</div>

											<div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
												<div class="govuk-grid-column-full">

													<div class="data-metric2">

														<div class="govuk-body-s float govuk-!-margin-bottom-0" style="width:80%;">Daily</div>

														<div class="number-group">
															<div class="number-container govuk-!-padding-right-4">
																<div class="float tooltip"><h3
																				class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
																	<a href="#" class="govuk-link--no-visited-state number-link"
																	   onclick="showHelp()">{{ areanewdeaths | numberFormat }}<span
																					class="tooltiptext govuk-!-font-size-16">Daily number of deaths from people who have had a positive test result on {{ areadeathsdate }}</span></a>
																</h3></div>

															</div>

														</div>

													</div>

													<div class="data-metric2">

														<div class="govuk-body-s float govuk-!-margin-bottom-0 govuk-!-margin-top-2"
														     style="width:80%;">Last 7 days
														</div>

														<div class="number-group">
															<div class="number-container govuk-!-padding-right-4">
																<div class="float tooltip"><h3
																				class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
																	<a href="#" class="govuk-link--no-visited-state number-link"
																	   onclick="showHelp()">{{ areaweekofdeaths }}<span
																					class="tooltiptext govuk-!-font-size-16">Total number of deaths from people who have had a positive test result in the last 7 days ({{ areaweekprevdate }} - {{ areadate }})</span></a>
																</h3></div>
															</div>

														</div>
														<div class="number-container">
															<div class="float tooltip"><h3
																			class="float govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-0 total-figure2">
																<a href="#" class="govuk-link--no-visited-state number-link-green"
																   onclick="showHelp()"><strong
																				class="govuk-tag govuk-tag--{{ areadeathstagcol }}"><img
																				src="/static/public/images/arrow-{{ areadeathsarrowdir }}.png"
																				width="12px" alt="down arrow"> {{ areadeathschange | numberFormat }}
																</strong> <span class="tooltiptext govuk-!-font-size-16">Percentage change from previous 7 days ({{ areafortnightprevdate }} - {{ areaweekprevdate }})</span></a>
															</h3></div>
														</div>

													</div>
													<div style="clear: both"></div>


													<!--
                          <div class="govuk-grid-row status-green govuk-!-margin-top-3 govuk-!-margin-bottom-0">
                          <div class="govuk-grid-column-full">
                          <p>The Uk has seen a reduction of cases in the past 7 days.</p>
                        </div>
                      </div>
                      -->
													<div class="govuk-grid-row govuk-!-margin-top-2 govuk-!-margin-bottom-0">
														<div class="govuk-grid-column-full">
															<div class="govuk-!-margin-top-2 govuk-!-margin-bottom-7"><a
																			class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state"
																			href="deaths-menu">All deaths data for this area</a></div>
														</div>
													</div>
												</div>


											</div>
										</div>


									</div>
								</div>


								<div class="govuk-grid-row govuk-!-margin-top-2 govuk-!-margin-left-0">
									<div class="govuk-grid-column-full">

										<a href="/">
											<button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
												New search
											</button>
										</a>

										<a href="interactive-map">
											<button class="govuk-button govuk-button--secondary" data-module="govuk-button">
												View area on map
											</button>
										</a>

									</div>
								</div>


							</div>
						</div>
					</div>


				</div>


			</div>


		</div>

	{% endif %}
</div>
{% endblock %}