{% extends "base.html" %}
{% from "components/mini_card.html" import create_card %}

{% block main %}


	<div id="top">
		<div class="sticky-header govuk-!-padding-top-3">

			<!-- The overlay -->
			<div id="mobile-nav" class="overlay">

				<!-- Button to close the overlay navigation -->
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

				<!-- Overlay content -->
				<div class="overlay-content">


					<ul class="govuk-list">
						<li>
							<a class="govuk-link " href="/">Daily update</a>
						</li>
						<li>
							<a class="govuk-link " href="/testing">Tests</a>
						</li>
						<li>
							<a class="govuk-link " href="/cases">Cases</a>
						</li>
						<li>
							<a class="govuk-link " href="/healthcare">Healthcare</a>
						</li>
						<li>
							<a class="govuk-link " href="/deaths">Deaths</a>
						</li>
						<hr class="govuk-section-break govuk-section-break--m govuk-!-margin-top-3 govuk-!-margin-bottom-3 govuk-section-break--visible">

						<li>
							<a class="govuk-link" href="/about-data">About the data</a>
						</li>
						<li>
							<a class="govuk-link" href="/developers-guide">Developer's guide</a>
						</li>
					</ul>
				</div>


			</div>


			<div class="govuk-grid-row govuk-!-margin-top-0">
				<div class="govuk-grid-column-one-half">
					<span class="govuk-caption-l govuk-!-margin-bottom-0 panel-title-new">Daily update</span>
				</div>
				<div class="govuk-grid-column-one-half filters govuk-!-padding-top-1">
				</div>
			</div>

			<div class="govuk-grid-row govuk-!-margin-top-0">
				<div class="govuk-grid-column-full">
					<hr class="govuk-section-break govuk-section-break--m govuk-!-margin-top-2 govuk-!-margin-bottom-0 govuk-section-break--visible">
				</div>
			</div>


		</div>

		<div class="govuk-grid-row govuk-!-margin-top-2 ">
			<div class="govuk-grid-column-full ">
				<p class="govuk-!-margin-bottom-1">
					The official UK Government website for data and insights on Coronavirus (COVID-19).
				</p>
				<h2 class="govuk-heading-l govuk-!-margin-bottom-2 govuk-!-margin-top-0  govuk-!-padding-top-0">UK Summary</h2>
				<p class="govuk-!-margin-bottom-0 govuk-!-margin-top-0">
					The latest <a href="https://www.gov.uk/guidance/the-r-number-in-the-uk"> R number </a> is estimated at <span class="green"><b> {{r_values.transmissionRateMin}} to {{r_values.transmissionRateMax}}</b></span> with a daily growth rate
					range of <span class="green"><b>{{r_values.transmissionRateGrowthRateMin}}% to {{r_values.transmissionRateGrowthRateMax}}%</b></span>
					
				</p>
				<p class="govuk-!-margin-bottom-2">
					Data is also available to download in an easy to read document <a href="/downloads/easy_read/overview/United Kingdom.docx">here</a>.
				</p>
				



			</div>
		</div>
	</div>

	

	<div>

		<div class="card-container govuk-!-margin-left-0">
			{% for card in cards %}
				{{ create_card(card, False) }}
			{% endfor %}
		</div>
		
		<h2 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-margin-top-2 govuk-!-padding-top-0 govuk-!-padding-left-0">What's the situation in your local area?</h2>

		<div class="dashboard-panel govuk-!-margin-top-2 govuk-!-margin-left-0 govuk-!-padding-5">
			<div class="govuk-grid-row ">
				<div class="govuk-grid-column-full">
					<span class="govuk-caption-m">Local data</span>
					<h3 class="govuk-heading-m govuk-!-margin-bottom-2">
						Regional breakdown
					</h3>
				</div>
			</div>
				<div class="govuk-grid-row ">
					<div class="govuk-grid-column-full cases">
						<div class="govuk-grid-row govuk-!-margin-top-2 govuk-!-margin-bottom-2">
							<div class="govuk-grid-column-one-half">
								<p>View data for a specific area within the UK.</p>
								<p>Not all data is available for every area &ndash; we will show the most
									local information in each category for your selected area.</p>
								{% include "components/postcode_search.html" %}
							</div>
							{% include "components/msoa_slide.html" %}
						</div>
					</div>
				</div>
		</div>


	</div>


	{#	</div>#}

{% endblock %}