{% extends "base.html" %}
{% from "components/mini_card.html" import create_card %}

{% block main %}


	<div id="top">
		<div class="sticky-header govuk-!-padding-top-3">

			<!-- The overlay -->
			<div id="mobile-nav" class="overlay">

				<!-- Button to close the overlay navigation -->
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

				<!-- Overlay content -->
				<div class="overlay-content">


					<ul class="govuk-list">
						<li>
							<a class="govuk-link " href="/">Daily update</a>
						</li>
						<li>
							<a class="govuk-link " href="/testing">Tests</a>
						</li>
						<li>
							<a class="govuk-link " href="/cases">Cases</a>
						</li>
						<li>
							<a class="govuk-link " href="/healthcare">Healthcare</a>
						</li>
						<li>
							<a class="govuk-link " href="/deaths">Deaths</a>
						</li>
						<hr class="govuk-section-break govuk-section-break--m govuk-!-margin-top-3 govuk-!-margin-bottom-3 govuk-section-break--visible">

						<li>
							<a class="govuk-link" href="/about-data">About the data</a>
						</li>
						<li>
							<a class="govuk-link" href="/developers-guide">Developer's guide</a>
						</li>
					</ul>
				</div>


			</div>


			<div class="govuk-grid-row govuk-!-margin-top-0">
				<div class="govuk-grid-column-one-half">
					<h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-0 panel-title-new">Daily update</h1>
				</div>
				<div class="govuk-grid-column-one-half filters govuk-!-padding-top-1">
				</div>
			</div>

			<div class="govuk-grid-row govuk-!-margin-top-0">
				<div class="govuk-grid-column-full">
					<hr class="govuk-section-break govuk-section-break--m govuk-!-margin-top-2 govuk-!-margin-bottom-0 govuk-section-break--visible">
				</div>
			</div>


		</div>

		<div class="govuk-grid-row govuk-!-margin-top-2 ">
			<div class="govuk-grid-column-full ">
				<p class="govuk-body-m govuk-!-margin-bottom-1">
					The official UK Government website for data and insights on Coronavirus (COVID-19).
				</p>
				<h2 class="govuk-heading-m">UK Summary</h2>
				<p class="govuk-body-m govuk-!-margin-top-0 govuk-!-margin-bottom-1">
					The latest R number is estimated at <span><b> {{r_values.transmissionRateMin}} to {{r_values.transmissionRateMax}}</b></span> with
					a daily growth rate range
					of <span><b>{{r_values.transmissionRateGrowthRateMin}}% to {{r_values.transmissionRateGrowthRateMax}}%</b></span>.
					
				</p>
				<p class="govuk-body-m govuk-!-margin-bottom-2">
					Data are also available
					to <a class="govuk-link govuk-link--no-visited-state"
					      href="/downloads/easy_read/overview/United Kingdom.docx">download</a> as
					an easy to read document.
				</p>

			</div>
		</div>
	</div>

	

	

		<div class="card-container govuk-!-margin-left-0">
			{% for card in cards %}
				{{ create_card(card, False) }}
			{% endfor %}
		</div>
		
		<h2 class="govuk-heading-m govuk-!-margin-top-3 govuk-!-margin-bottom-0">What's the situation in your local area?</h2>

		<div class="govuk-grid-row govuk-!-margin-top-2 govuk-!-margin-left-0 govuk-!-padding-left-0">	
			<div class="govuk-grid-column-one-half govuk-!-margin-left-0 govuk-!-padding-left-0 ">
	
					<div class="dashboard-panel govuk-!-margin-left-0">
					<h3 class="govuk-heading-m govuk-!-margin-bottom-2">
						Search by postcode
					</h3>
					<p>View data for a specific area within the UK.</p>
					<p>Not all data is available for every area &ndash; we will show the most
						local information in each category for your selected area.
					</p>
					{% include "components/postcode_search.html" %}
				
				</div>		
			</div>
			
			{% include "components/msoa_slide.html" %}
			</div>		


	


	{#	</div>#}

{% endblock %}