{% extends "base.html" %}
{% from "components/mini_card.html" import create_card with context %}

{%- block page_title -%}Daily update{% endblock %}
{%- block main -%}

	<div>
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full ">
				<p class="govuk-body-m govuk-!-margin-bottom-1 govuk-!-margin-top-3">
					The official UK Government website for data and insights on Coronavirus (COVID-19).
				</p>
				<h2 class="govuk-heading-l">UK Summary</h2>

				{% include "components/r_number.html" %}

				<p class="govuk-body-m govuk-!-margin-bottom-2">
					Data are also available
					to <a class="govuk-link govuk-link--no-visited-state"
					      href="/downloads/easy_read/overview/United Kingdom.docx">download</a> as
					an easy to read document.
				</p>

			</div>
		</div>
	</div>

	<div class="card-container">
		{% for card in cards %}
			{{ create_card(card, False) }}
		{% endfor %}
	</div>

{%- endblock -%}

{%- block postcode_search_header -%}
	What's the situation in your local area?
{%- endblock -%}