{% extends "base.html" %}
{% from "components/mini_card.html" import create_card with context %}

{%- block main -%}


	<div id="top">
		<div class="sticky-header govuk-!-padding-top-3">

			<div class="govuk-grid-row govuk-!-margin-top-0">
				<div class="govuk-grid-column-one-half">
					<h1 class="govuk-caption-l govuk-!-margin-top-0 govuk-!-margin-bottom-0 panel-title-new">Daily update</h1>
				</div>
				<div class="govuk-grid-column-one-half filters govuk-!-padding-top-1">
				</div>
			</div>

			<div class="govuk-grid-row govuk-!-margin-top-0">
				<div class="govuk-grid-column-full">
					<hr class="govuk-section-break govuk-section-break--m govuk-!-margin-top-2 govuk-!-margin-bottom-0 govuk-section-break--visible">
				</div>
			</div>


		</div>

		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full ">
				<p class="govuk-body-m govuk-!-margin-bottom-1 govuk-!-margin-top-3">
					The official UK Government website for data and insights on Coronavirus (COVID-19).
				</p>
				<h2 class="govuk-heading-l">UK Summary</h2>
				<p class="govuk-body-m govuk-!-margin-top-0 govuk-!-margin-bottom-1">
					The latest R number is estimated
					at&nbsp;<b>{{ r_values.transmissionRateMin }}&nbsp;to&nbsp;{{ r_values.transmissionRateMax }}</b>&nbsp;with
					a daily growth rate range
					of&nbsp;<span><b>{{ r_values.transmissionRateGrowthRateMin }}%&nbsp;to&nbsp;{{ r_values.transmissionRateGrowthRateMax }}%</b></span>.

				</p>
				<p class="govuk-body-m govuk-!-margin-bottom-2">
					Data are also available
					to <a class="govuk-link govuk-link--no-visited-state"
					      href="/downloads/easy_read/overview/United Kingdom.docx">download</a> as
					an easy to read document.
				</p>

			</div>
		</div>
	</div>

	<div class="card-container">
		{% for card in cards %}
			{{ create_card(card, False) }}
		{% endfor %}
	</div>

{%- endblock -%}

{%- block postcode_search_header -%}
	What's the situation in your local area?
{%- endblock -%}