{% extends "base.html" %}
{% from "components/mini_card.html" import create_card with context %}
{% from "components/default_tail.html" import tail_banners with context %}

{%- block page_title -%}Daily update{% endblock %}

{% block head %}
{#	{% cache 43200, 'head-home', timestamp, "main-summary" -%}#}
		<title>Daily summary | Coronavirus in the UK</title>
		<meta property="og:title" content="Official UK Coronavirus Dashboard">
		<meta property="og:description" content="Daily summary | Coronavirus in the UK">
		<meta name="twitter:description" content="Daily summary | Coronavirus in the UK">
		<meta name="twitter:title" content="Official UK Coronavirus Dashboard">
		<meta property="og:url" content="https://coronavirus.data.gov.uk">
		{%- for path in og_images -%}
			{%- if "summary" in path -%}
				<meta name="twitter:image" content="https://coronavirus.data.gov.uk{{ path }}?tm={{ timestamp }}">
				<meta property="og:image" content="https://coronavirus.data.gov.uk{{ path }}?tm={{ timestamp }}">
			{%- endif -%}
				<meta property="og:image" content="https://coronavirus.data.gov.uk{{ path }}?tm={{ timestamp }}">
			{%- endfor -%}
{#		{% endcache -%}#}
{% endblock %}

{%- block main -%}
{#	{% cache 43200, 'main-body', timestamp, "uk-summary" -%}#}
		<div>
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-full ">
					<h1 class="govuk-heading-l govuk-!-margin-bottom-2 govuk-!-margin-top-2">UK summary</h1>
					<p class="govuk-body-m govuk-!-margin-bottom-1 govuk-!-margin-top-3">
						The official UK government website for data and insights on coronavirus (COVID-19).
					</p>
					<p class="govuk-body-m govuk-!-margin-bottom-3">
						See the <a class="govuk-link govuk-link--no-visited-state"
						           href="/easy_read" rel="next">easy read summary</a> for the UK.
					</p>
					{% include "components/vaccination.html" %}
					{# % include "components/r_number.html" % #}
				</div>
			</div>
		</div>

		<div class="card-container">
			{% for card in cards %}
				{{ create_card(cards[card], False) }}
			{% endfor %}
		</div>
{#	{% endcache %}#}
{%- endblock -%}

{% block lower_section %}
	{{ tail_banners("What's the situation in your local area?") }}
{% endblock %}